@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "@fontsource/lora/400.css";
@import "@fontsource/lora/400-italic.css";
@import "@fontsource/lora/700.css";
@import "@fontsource/lora/700-italic.css";
@import "@fontsource/fredoka/400.css";
@import "@fontsource/fredoka/700.css";
@import "@fontsource/chewy/400.css";
@import "@fontsource/emilys-candy/400.css";
@import "@fontsource/birthstone-bounce/400.css";

@theme {
  --font-sans: "Lora", serif;
  --font-serif: "Lora", serif;
  
  --font-fredoka: "Fredoka", sans-serif;
  --font-chewy: "Chewy", display;
  --font-emilys-candy: "Emilys Candy", display;
  --font-birthstone-bounce: "Birthstone Bounce", display;

  --typography-body-font-family: var(--font-sans);
}

/* Remove border from Kit newsletter form. */
.formkit-form[data-uid], 
.formkit-form[data-uid] * {
  border: none !important;
  border-width: 0 !important;
  box-shadow: none !important;
}

@utility slant-down {
  clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
}

@utility slant-up {
  clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
}

/* Add a little extra padding to ensure content doesn't get "clipped" by the slant */
.funky-container {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
